<!DOCTYPE html>
<html>
  <head>
    <title>ZigZag</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
    <script src="//assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
    <script>ZiggeoApi.com = '<%= ENV['ZIGGEO_KEY'] %>'; </script>
  </head>

  <body>
  	<div class="container">
  		
	    <% flash.each do |key, msg|  %>
	    	<div class="alert alert-<%= key %>">
				<%= msg %>    		
	    	</div>
	    <% end %>
	    <%= yield %>
  	</div>
  </body>
</html>
